<h1>Admin Page</h1>
<form action="/admin" method="POST">
        <label for="pwd">Password:</label>
        <input
        type="pwd"
        id="pwd"
        name="pwd"
        class="form-control"
        placeholder="Enter Admin Password"
        />
    <button type="submit" class="btn btn-primary btn-block">Login</button>
</form>
