<br><h1>Manuelly add events</h1><br>
<a href="/admin">Back</a>
<p>**Event Name,Date and Location are necessary, others are optional</> <br>
<form action="/admin/add" method="post">
    <h3>Event Name: </h3>
        <input type="text" name="event_name" value="">
    <h3>Date:</h3>
        <input type="date" name="event_date" value="">
    <h3>Price(USD): </h3>
        <input type="text" name="ticket_price" value="">
    <h3>Start Time: </h3>
        <input type="text" name="start_time" value="">
    <h3>Location: </h3>
        <input type="text" name="location" value="">
    <h3>Web Link: </h3>
        https://<input type="text" name="web_link" value="">
    <h3>Description: </h3>
        <input type="text" name="description" value="">
    <h3>Event Type: </h3>
        <input type="text" name="event_type" value="">
    <button type="submit" name="button">Add</button>
</form>
