<h1>Welcome Admin</h1>
<a href="/">Back</a><br>
<a href="/admin/add">Manually add event</a>(Not recommended)<br><br>


<h4>
    <span style="display: inline-block; width:550px;padding-left:30px;">Event Name</span>
    <span style="display: inline-block; width:200px;">Event Date</span>
    <span style="display: inline-block; width:200px;">Price</span>
</h4>
<ol>
<% for(i=0;i<events.length;i++){ %>
    <li>
        <form action="/admin/events" method="post" style="float: right;display: inline-block;">
                    <input type="hidden" name="eventID" value="<%= events[i].id%>">
                    <button type="Submit" class="btn btn-info">Details</button>
        </form>
        <div class="lead mb-3">
            <span style="display: inline-block; width:515px;"><%= events[i].event_name %></span>
            <span style="display: inline-block; width:200px;"><%= events[i].event_date %></span>
            <% if(events[i].ticket_price<=0){ %>
                <span style="display: inline-block; width:200px;">Free</span>
            <% } else { %>
                <span style="display: inline-block; width:200px;">$<%= events[i].ticket_price %></span>
            <% } %>
        </div>
    </li>
<% } %>
</ol>
