<h1>Citysights</h1>
<h4>Data Analysis</h4>

<p>Most Popular Day From Search History</p>

<p>Number of Event Query:</p>

<p>Number of Schedule Query:</p>

<p>Average Budget on Event Query:</p>

<p>Average Budget on Schedule Query:</p>

<p>Most Popular Day From Search History</p>
