<h1>Welcome to CitySights</h1>
<br>
<h3>Contributor: Yan, Sahil, Marek</h3>
<a href="/admin">Admin(For temporary dev use)</a><br><br>
<form action="/events" method="post">
    <h4>Date and budget are required for both search functions</h4>
    <label for="">Date</label>
        <input type="date" name="date" value="">
    <label for="">Budget</label>
    <select id="budget" name="budget">
        <option value="0">Free</option>
        <option value="1">$1-$50</option>
        <option value="2">Over $50</option>
    </select><br><br>
    <button type="submit" name="button"class="btn btn-success">Find Single Event</button><br><br>
    <h4>The following are optional but recommended</h4>
    <label for="">Time</label>
    <select id="time" name="time">
        <option value="0">8am-12pm</option>
        <option value="1">12pm-5pm</option>
        <option value="2">5pm-9pm</option>
        <option value="3">9pm-Midnight</option>
    </select>
    <label for="">Group Type</label>
    <select id="group_type" name="group_type">
        <option value="0">Couple</option>
        <option value="1">Family</option>
        <option value="2">Friends</option>
        <option value="3">Classmates/Co-workers</option>
    </select>
    <label for="">Group Size</label>
    <select id="size" name="size">
        <option value="0">1</option>
        <option value="1">2</option>
        <option value="2">3-10</option>
        <option value="3">10-50</option>
        <option value="3">50+</option>
    </select><br><br>
    <button type="button" name="button"class="btn btn-primary">Generate Schedule of Events</button>
    <-- Generate schedule function is still under development
</form>
