<h1>Welcome to CitySights</h1>
<h3>Contributors: Yan, Sahil, Marek</h3>
<br>
<h3><a href="/admin">Admin Access</a></h3>
<!-- <h4>See below link for schedule</h4> -->
<h3><a href="/schedule">Schedule Search</a></h3>
<br>
<h1>Find Events</h1>
<form action="/events" method="post">
    <br>
    <label for="">Date:&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp</label>
        <input type="date" name="date" value="">
    <br><br>
    <label for="budget">Budget: &nbsp &nbsp &nbsp &nbsp</label>
    <input type="number" name="budget">
    <br><br>
    <label for="">Interests: &nbsp &nbsp &nbsp</label>
    <select id="interests" name="interests" multiple>
        <option value="Theatre">Theatre</option>
        <option value="Music">Music</option>
        <option value="Sports">Sports</option>
        <option value="Comedy">Comedy</option>
        <option value="Religion">Religion</option>
    </select>
    <br><br>
    <label for="">Group Type: &nbsp</label>
    <select id="group_type" name="group_type">
      <option value="none"></option>
        <option value="Couple">Couple</option>
        <option value="Family">Family</option>
        <option value="Friends">Friends</option>
    </select>
    <br><br>
    <label for="">Time Range Start: &nbsp </label>
    <input type="time" id="startTime"
       name="startTime" value = "00:00"
       min="00:00" max="23:00">
    <br>
    <label for="">Time Range End: &nbsp &nbsp </label>
   <input type="time" id="endTime"
      name="endTime" value = "23:59"
      min="01:00" max="23:59">
    <br><br>
    <button type="submit" name="button"class="btn btn-success">Find Single Event</button><br><br><br>
    <!-- </select>
    <label for="">Group Size</label> -->
    <!-- <select id="size" name="size">

        <option value="1">1</option>
        <option value="2">2</option>
        <option value="10">3-10</option>
        <option value="50">10-50</option>
        <option value="1000">50+</option>
    </select><br><br> -->
    <!-- <button type="button" name="button"class="btn btn-primary">Generate Schedule of Events</button> -->
</form>
