<h1>Welcome to CitySights</h1>
<br>
<h3>Contributor: Yan, Sahil, Marek</h3>
<a href="/">Homepage</a><br><br>

<h1>This is for Schedule</h1>
<form action="/schedule" method="post">
    <h4>Start/End Date, Duration and Budget are required for both search functions</h4>

    <label for="">Start Date</label>
        <input type="date" name="startDate" value="">

    <label for="">End Date</label>
        <input type="date" name="endDate" value="">
    <label for="">Interests</label>
    <select id="interests" name="interests" multiple>
        <option value="Art">Art</option>
        <option value="Music">Music</option>
        <option value="Sports">Sports</option>
        <option value="Religious">Religious</option>
    </select>
    <label for="">Budget</label>
    <select id="budget" name="budget">
        <option value="0">Free</option>
        <option value="1">$1-$50</option>
        <option value="2">Over $50</option>
    </select><br><br>
    <!-- <button type="submit" name="button"class="btn btn-success">Find Single Event</button><br><br> -->
    <h4>The following are optional but recommended</h4>
    <!-- <label for="">Interests</label>
    <select id="Interests" name="Interests" multiple>
        <option value="Music">Music</option>
        <option value="Comedy">Comedy</option>
        <option value="Sports">Sports</option>
        <option value="Theatre">Theatre</option>
    </select> -->
    <!-- <input type="checkbox" id="Music" name="Music" value="Music">
    <label for="Music"> Music </label><br>
    <input type="checkbox" id="vehicle2" name="vehicle2" value="Car">
    <label for="vehicle2"> I have a car</label><br>
    <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
    <label for="vehicle3"> I have a boat</label><br>
    <input type="submit" value="Submit"> -->
    <label for="">Group Type</label>
    <select id="group_type" name="group_type">
        <option value="Couple">Couple</option>
        <option value="Family">Family</option>
        <option value="Friends">Friends</option>
        <option value="Classmates/Co-workers">Classmates/Co-workers</option>
    </select>
    <label for="">Group Size</label>
    <select id="size" name="size">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="10">3-10</option>
        <option value="50">10-50</option>
        <option value="1000">50+</option>
    </select><br><br>
    <button type="submit" name="button"class="btn btn-primary">Generate Schedule of Events</button>
</form>
