<h1>Welcome to CitySights</h1>
<br>
<h3>Contributor: Yan, Sahil, Marek</h3>
<a href="/">Homepage</a><br><br>

<h1>This is for Schedule</h1>
<form action="/schedule" method="post">
    <h4>Start/End Date, Duration and Budget are required for both search functions</h4>

    <label for="">Start Date</label>
        <input type="date" name="startDate" value="">

    <label for="">End Date</label>
        <input type="date" name="endDate" value="">

    <label for="">Budget</label>
    <select id="budget" name="budget">
        <option value="0">Free</option>
        <option value="1">$1-$50</option>
        <option value="2">Over $50</option>
    </select><br><br>
    <!-- <button type="submit" name="button"class="btn btn-success">Find Single Event</button><br><br> -->
    <h4>The following are optional but recommended</h4>
    <label for="">Time</label>
    <select id="time" name="time">
        <option value="Morning">8am-12pm</option>
        <option value="Afternoon">12pm-5pm</option>
        <option value="Evening">5pm-9pm</option>
        <option value="Night">9pm-Midnight</option>
    </select>
    <label for="">Group Type</label>
    <select id="group_type" name="group_type">
        <option value="Couple">Couple</option>
        <option value="Family">Family</option>
        <option value="Friends">Friends</option>
        <option value="Classmates/Co-workers">Classmates/Co-workers</option>
    </select>
    <label for="">Group Size</label>
    <select id="size" name="size">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="10">3-10</option>
        <option value="50">10-50</option>
        <option value="1000">50+</option>
    </select><br><br>
    <button type="button" name="button"class="btn btn-primary">Generate Schedule of Events</button>
    <-- Generate schedule function is still under development
</form>
