<h1>Welcome to CitySights</h1>
<h3>Contributors: Yan, Sahil, Marek</h3>
<br>
<a href="/">Homepage</a><br><br>

<h1>Scheduler</h1>
<br>
<form action="/schedule" method="post">
    <!-- <h4>Start and End Date are required</h4> -->
    <br>
    <label for=""> Start Date:&nbsp &nbsp </label>
        <input type="date" name="startdate" value="">
    <br><br>
    <label for=""> End Date:&nbsp &nbsp &nbsp </label>
        <input type="date" name="enddate" value="">
    <br><br>
    <label for="budget">Budget: &nbsp &nbsp &nbsp &nbsp</label>
    <input type="number" name="budget">
    <br><br>
    <label for="">Interests: &nbsp &nbsp &nbsp</label>
    <select id="interests" name="interests" multiple>
        <option value="Theatre">Theatre</option>
        <option value="Music">Music</option>
        <option value="Sports">Sports</option>
        <option value="Comedy">Comedy</option>
        <option value="Religion">Religion</option>
    </select>
    <br><br>
    <label for="">Group Type: &nbsp</label>
    <select id="group_type" name="group_type">
      <option value="none"></option>
        <option value="Couple">Couple</option>
        <option value="Family">Family</option>
        <option value="Friends">Friends</option>
    </select>
    <!-- <button type="submit" name="button"class="btn btn-success">Find Single Event</button><br><br> -->
    <!-- <label for="">Interests</label>
    <select id="Interests" name="Interests" multiple>
        <option value="Music">Music</option>
        <option value="Comedy">Comedy</option>
        <option value="Sports">Sports</option>
        <option value="Theatre">Theatre</option>
    </select> -->
    <!-- <input type="checkbox" id="Music" name="Music" value="Music">
    <label for="Music"> Music </label><br>
    <input type="checkbox" id="vehicle2" name="vehicle2" value="Car">
    <label for="vehicle2"> I have a car</label><br>
    <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
    <label for="vehicle3"> I have a boat</label><br>
    <input type="submit" value="Submit"> -->
    <label for="">Group Type</label>
    <select id="group_type" name="group_type">
        <option value="Couple">Couple</option>
        <option value="Family">Family</option>
        <option value="Friends">Friends</option>
        <option value="Classmates/Co-workers">Classmates/Co-workers</option>
    </select>
    <!-- <label for="">Group Size</label>
    <select id="size" name="size">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="10">3-10</option>
        <option value="50">10-50</option>
        <option value="1000">50+</option>
    </select><br><br> -->
    <button type="submit" name="button"class="btn btn-primary">Generate Schedule of Events</button>
</form>
