<h1>Welcome User</h1>
<a href="/">Back</a><br>
<p>*Here is the events we have found for you!</p>

<h4>
    <span style="display: inline-block; width:550px;padding-left:30px;">Event Name</span>
    <span style="display: inline-block; width:200px;">Event Date</span>
    <span style="display: inline-block; width:200px;">Price</span>
</h4>

<ol>
<% for(i=0;i<events.length;i++){ %>
    <li>
        <form action="/events/details" method="post" style="float: right;display: inline-block;">
                    <input type="hidden" name="eventID" value="<%= events[i].EventID%>">

                    <button type="Submit" class="btn btn-info">Details</button>
        </form>
        <div class="lead mb-3">
            <span style="display: inline-block; width:515px;"><%= events[i].Name %></span>
            <span style="display: inline-block; width:200px;"><%= events[i].Date %></span>
            <% if(events[i].Price==0){ %>
                <span style="display: inline-block; width:200px;">Free</span>
            <% } else if(events[i].Price==-1){ %>
                <span style="display: inline-block; width:200px;">Price not available</span>
            <% } else { %>
                <span style="display: inline-block; width:200px;">$<%= events[i].Price %></span>
            <% } %>
        </div>
    </li>
<% } %>
</ol>
